body{
    background-color: #20B2AA;
}
th{
    background-color: black;
    color: white;
    text-align: left;
}
td{
    background-color: #115FBA;
    color: white;
}
legend{
    background-color: black;
    color: white;
}
fieldset{
    background-color: rgba(0, 0, 0, 0.466);
    color: white;
    border-color: black;
}
#salvar{
    background-color: green;
    color: white;
    border: none;
    width: 70px;
    height: 26px;
}
#cancelar{
    background-color: red;
    color: white;
    border: none;
    width: 70px;
    height: 26px;
}
#idade{
    width: 60px;
}